img.logo {
    width: 60%;
}

.center{
    text-align: center;
}

.Banner {
    color: white;
	font-family:"courier";
	font-weight: lighter;

    font-size: 300%;
}

.sidetext {
    color: #c9c9c9;
	font-family:"courier";
	font-weight: lighter;
    font-size: 200%;
    line-height: 0;
}

.white {
    color: white;
    font-size:90%;
}

.topic {
    position: relative;
    left: 10%;
}

.textbox1 {
    margin: 1%;
    padding: 3%;
    border: 3px double #ffffff;
    border-radius: 1vw;

    margin-bottom: 40%;
}

.maintext {
    color: #c9c9c9;
	font-family:"courier";
	font-weight: lighter;

    font-size: 150%;
    line-height: 1;
}

.main-textbox {
    margin: 0 auto;
    width: 70%;

    padding: 3%;
    border: 3px double #c9c9c9;
    border-radius: 1vw;
}

img.siteimg {
    width: 60%;
}

.news-topic {
    color: #ff8787;
	font-family:"courier";
	font-weight: bold;
    font-size: 200%;
}

.news {
    margin: 0 auto;
    width: 80%;

    padding: 3%;
    border: 5px double #ff8787;
    border-radius: 1vw;

    margin-bottom: 10%;
}